{% extends "base.html"%}
{% block content %}
	<div class="ml-container">   
		<form action={% url 'spams:predict' %} method="POST">
			{% csrf_token %}
			<div class="form-group">
				<label for="exampleFormControlTextarea1">Enter your content here:</label>
				<textarea name="message" class="form-control" rows="10" id="exampleFormControlTextarea1" rows="3"></textarea>
			</div>
			<button type="submit" class="btn btn-outline-success"> Submit </button>
        </form>
	</div>
{% endblock content %}